
@{
    ViewData["Title"] = "Register";
}

@model Diligend.Models.RegistrationFormVM

<div>
    @using (Html.BeginForm(actionName: "Index", controllerName: "Student", null, method: FormMethod.Post, antiforgery: false, htmlAttributes: new { @class = "form-horizontal" }))
    {
        <div class="form-group row">
            <label for="" class="col-sm-4 control-label text-left">First Name <span class="text-danger">*</span></label>
            <div class="col-sm-8">
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "First Name" })
                @if (!string.IsNullOrEmpty(Model.FirstNameComments))
                {
                    <div class="text-danger">@Model.FirstNameComments</div>
                }
            </div>            
        </div>
        <div class="form-group row">
            <label for="" class="col-sm-4 control-label text-left">Last Name <span class="text-danger">*</span></label>
            <div class="col-sm-8">
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Last Name" })
                @if (!string.IsNullOrEmpty(Model.LastNameComments))
                {
                    <div class="text-danger">@Model.LastNameComments</div>
                }
            </div>           
        </div>
        <div class="form-group row">
            <label for="" class="col-sm-4 control-label text-left">Age <span class="text-danger">*</span></label>
            <div class="col-sm-8">
                @Html.TextBoxFor(m => m.Age, new { @class = "form-control", placeholder = "Age" })
                @if (!string.IsNullOrEmpty(Model.AgeComments))
                {
                    <div class="text-danger">@Model.AgeComments</div>
                }
            </div>            
        </div>
        <div class="form-group row">
            <label for="" class="col-sm-4 control-label text-left">School Name <span class="text-danger">*</span></label>
            <div class="col-sm-8">
                @Html.TextBoxFor(m => m.SchoolName, new { @class = "form-control", placeholder = "School Name" })
                @if (!string.IsNullOrEmpty(Model.SchoolNameComments))
                {
                    <div class="text-danger">@Model.SchoolNameComments</div>
                }
            </div>            
        </div>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-md-8">
                <button type="submit" class="btn btn-primary btn-submit" data-loading-text="Processing..." id="btnSubmit">Submit</button>
            </div>
        </div>
    }
</div>

